name: Reusable Upload to ECR

on:
  workflow_call:
    inputs:
      IMAGETAG:
        description: 'Imagen tag'
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_REGION:
        required: true
      ECR_REGISTRY:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      
      - name: Debug Dockerfile location
        run: |
          echo "Current directory: $(pwd)"
          ls -la
          if [ -f Dockerfile ]; then echo "Dockerfile encontrado ✅"; else echo "Dockerfile NO encontrado ❌"; fi


      - name: Build y Push imagen Docker a ECR
        working-directory: ${{ github.workspace }}
        run: |
          docker build -t ${{ secrets.ECR_REGISTRY }}:${{ inputs.IMAGETAG }} .
          docker push ${{ secrets.ECR_REGISTRY }}:${{ inputs.IMAGETAG }}
