name: Reusable Upload to ECR

on:
  workflow_call:
    inputs:
      IMAGETAG:
        description: 'Imagen tag'
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_REGION:
        required: true
      ECR_REGISTRY:
        required: true
      GITHUB_TOKEN:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Checkout Dockerfile repo
        uses: actions/checkout@v3
        with:
          repository: "Davidsdaw/Portfolio-Cloud"  
          path: docker-repo
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push Docker image
        run: |
          docker build -f docker-repo/Dockerfile -t ${{ secrets.ECR_REGISTRY }}:${{ inputs.IMAGETAG }} docker-repo
          docker push ${{ secrets.ECR_REGISTRY }}:${{ inputs.IMAGETAG }}
