name: Upload to ECR

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:
    inputs:
      IMAGETAG:
        description: 'Imagen tag'
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      
      - name: Build y Push imagen Docker a ECR
        run: |
          docker build -t ${{ secrets.ECR_REGISTRY }}:$IMAGETAG .
          docker push ${{ secrets.ECR_REGISTRY }}:$IMAGETAG
